.messagelist__wrapper {
  padding: 8px;
}

.messagelist__title {
  color: darkslateblue;
  font-weight: 800;
  font-size: 28px;
  text-decoration: underline;
  text-align: center;
}
.messagelist__list {
  padding: 0;
}
.messagelist__style {
  line-height: 2;
  margin: 0;
  font-weight: 600;
  font-style: italic;
}
.messagelist__style:not(:last-child) {
  margin-right: 10px;
}

.messagelist__messsage {
  max-width: 250px;
}
.messagelist__name {
  width: 80px;
}

.messagelist__item {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 2px groove rgb(177, 169, 169);
  padding-bottom: 5px;
  width: 100%;
  justify-content: space-between;
}

.enter {
  opacity: 0;
  transform: translateX(-100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
