.messagelist__wrapper {
  padding: 8px;
}

.messagelist__title {
  color: darkslateblue;
  font-weight: 800;
  font-size: 28px;
  text-decoration: underline;
  text-align: center;
}
.messagelist__list {
  padding: 0;
}
.messagelist__style {
  line-height: normal;
  margin: 0;
  font-weight: 400;
  font-style: italic;
}
.messagelist__style:not(:last-child) {
  margin-right: 10px;
}

.messagelist__name {
  color: darkslateblue;
  font-weight: 700;
}
.messagelist__date {
  color: gray;
}

.messagelist__item {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border: 1px groove rgb(199, 195, 195);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
  padding: 5px;
  width: 100%;
  justify-content: space-between;
}
.messagelist__item:hover {
  background-color: rgb(226, 222, 222);
}

.enter {
  opacity: 0;
  transform: translateX(-100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
